<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Jono Ellis</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            {% if site.github_username %}
            <li><a href="https://github.com/{{ site.github_username }}">github.com/{{ site.github_username }}</a></li>
            {% endif %}

            {% if site.mastodon_username %}
            <li><a rel="me" href="https://{{ site.mastodon_username }}">{{ site.mastodon_username }}</a></li>
            {% endif %}
                      {% if site.instagram_username %}
            <li><a href="https://www.instagram.com/{{ site.instagram_username }}/">instagram.com/{{ site.instagram_username }}</a></li>
            {% endif %}


                      {% if site.lastfm_username %}
            <li><a href="http://www.last.fm/user/{{ site.lastfm_username }}/">last.fm/{{ site.lastfm_username }}</a></li>
            {% endif %}


                      {% if site.linkedin_username %}
            <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/">linkedin.com/{{ site.linkedin_username }}</a></li>
            {% endif %}

          
            {% if site.twitter_username %}
            <li><del>https://twitter.com/{{ site.twitter_username }}</del></li>
            {% endif %}
                      {% if site.facebook_username %}
            <li><del>https://www.facebook.com/{{ site.facebook_username }}</del></li>
            {% endif %}
          <li>Subscribe via <a href="/feed.xml" target=_blank>RSS</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a></p>
            </div>


  <div class="footer-col footer-col-3">
This work by <a xmlns:cc="http://creativecommons.org/ns#" href="https://ellis.scot/" property="cc:attributionName" rel="cc:attributionURL">Jono Ellis</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </div>
    </div>

  </div>

</footer>
