<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Jono Ellis</h2>
    <div id="aboutme">
    Husband, father, <a href="https://www.linkedin.com/in/jonathanianellis/">analyst/civil servant</a>, <a href="https://ellis.scot/category/writing/">writer</a>, <a href="https://ellis.scot/category/cooking/">experimental cook</a>, <a href="https://ellis.scot/category/brewing/">homebrewer</a>, film buff, climber, whisky enjoyer, musician, traveller,  <a href="http://www.borders-exploration-group.org.uk/">outdoorsman</a> and <a href="http://www.last.fm/user/jonoellis/">music lover</a>. Send me an <a href="mailto:jono@ellis.scot">email</a> or find me on <a href="https://www.facebook.com/jonoellis">Facebook</a> or <a href="https://twitter.com/jonoellis">Twitter</a>.
    </div>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            {% if site.github_username %}
            <li>
              {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}

            {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a></p>
            </div>


  <div class="footer-col footer-col-3">
This work by <a xmlns:cc="http://creativecommons.org/ns#" href="https://ellis.scot/" property="cc:attributionName" rel="cc:attributionURL">Jono Ellis</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </div>
    </div>

  </div>

</footer>
